<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="images/icon.png">

    <title>Dashboard</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> 

    <!-- Custom styles for this template --> 

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{{ url_for('dashboard') }}"><img src="/images/icon.png" alt="blood sugar tracker" width="25" height="25"></img> Blood Sugar Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('dashboard') }}">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tracker') }}">Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('readingsLog') }}">Readings Log</a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stats') }}">Statistics</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="{{ url_for('logout') }}" class="btn btn-outline-success my-2 my-sm-0" role="button">Log Out</a>
        </form>
      </div>
    </nav>

    <main role="main">

      <!-- Main jumbotron for a primary marketing message or call to action -->
      <div class="jumbotron">
        <div class="container">
          <h1 class="display-3">Welcome Back, {{name}}! </h1>
          <p>We’ve created blood sugar logger that make it easy to document your daily levels by time of day, along with any relevant notes.</p>
        </div>
      </div>

      <div class="container">
          <h3>Here's some things you can do today:</h3> 
          <p></p>
        <!-- Example row of columns -->
        <div class="row">
          <div class="col-md-4">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="{{url_for('.static', filename='images/writing.jpg')}}" alt="Card image" width="300px" height="200px">
                <div class="card-body">
                    <h4 class="card-title">Enter Today's Readings</h4>
                    <p class="card-text">Enter your blood sugar levels and daily activities here.</p>
                    <a href="{{ url_for('tracker') }}" class="btn btn-primary">Go To Tracker</a>
                </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="{{url_for('.static', filename='images/tracker.jpg')}}" alt="Card image" width="300px" height="200px">
                <div class="card-body">
                    <h4 class="card-title">View History</h4>
                    <p class="card-text">View your blood sugar history and activities here.</p>
                    <a href="{{ url_for('readingsLog') }}" class="btn btn-primary">Go to Readings History</a>
                </div>
             </div> 
          </div>
          <div class="col-md-4">
            <div class="card" style="width:300px">
                <img class="card-img-top" src="{{url_for('.static', filename='images/graph.jpg')}}" alt="Card image" width="300px" height="200px">
                <div class="card-body">
                    <h4 class="card-title">View Statistics</h4>
                    <p class="card-text">Check graphs of your recorded sugar levels.</p>
                    <a href="{{ url_for('stats') }}" class="btn btn-primary">Go to Statistics</a>
                </div>
            </div>
          </div>
        </div>

      </div> <!-- /container -->
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>


  </body>
</html>
