<!doctype html>
<html lang="en"> 
  <meta id="my-data" data-name="{{logDates}}" data-other="{{logBS}}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Statistics</title>

    <!-- Bootstrap core CSS -->
    <link href="../../../../dist/css/bootstrap.min.css" rel="stylesheet"> 

    <!-- Custom styles for this template --> 

  </head>

  <body>

    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="{{ url_for('dashboard') }}"><img src="/images/icon.png" alt="blood sugar tracker" width="25" height="25"></img> Blood Sugar Tracker</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ url_for('dashboard') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('tracker') }}">Tracker</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('readingsLog') }}">Readings Log<span class="sr-only">(current)</span></a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('stats') }}">Statistics</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="{{ url_for('logout') }}" class="btn btn-outline-success my-2 my-sm-0" role="button">Log Out</a>
        </form>
      </div>
    </nav>

    <main role="main">  
        
       <div class="jumbotron text-center">
        <div class="container"> 
            <h3 class="display-4">My Statistics </h3>
            <p>Keeping track of your blood glucose levels is essential to prevent complications.</p>
        </div>
      </div>  

        <canvas class="my-3" id="myChart" width="400" height="150"></canvas>
    </main>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
  </body>
</html> 

  <!-- Graphs --> 

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js"></script>
    <script>  
      var djangoData = $('#my-data').data();
      console.log(djangoData.name.split(','))
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
        type: 'line',
        data: { 
          labels : djangoData.name.split(','), 
          datasets: [{ 
            label: "Line Chart Showing Daily Blood Sugar Readings",
            data: djangoData.other,
            lineTension: 0,
            backgroundColor: 'transparent',
            borderColor: '#007bff',
            borderWidth: 2,
            pointBackgroundColor: '#007bff'
          }]
        },
        options: {
          scales: {
            yAxes: [{
              ticks: {
                beginAtZero: true,
              }
            }]
          },
          legend: {
            display: false,
          }
        }
      });
    </script>